
<!doctype html>
<html lang="en">
<head th:replace="/fragments/head :: cabecalho"></head>

<body>

	<nav th:replace="/fragments/nav :: nav-admin"></nav>


	<div class="container">

		<h1 class="display-2">Paginas</h1>
		<a href="/admin/paginas/adicionar" class="btn btn-primary mb-5">Adicionar
			nova</a>

		<div th:if="${!paginas.empty}">

			<table class="table">
				<tr>
					<th>Titulo</th>
					<th>Slug</th>
					<th>Actualizar</th>
					<th>Apagar</th>
				</tr>
				<tr th:each="pagina: ${paginas}">
					<td th:text="${pagina.titulo}" ></td>
					<td th:text="${pagina.slug}" ></td>
					<td ><a th:href="@{'/admin/paginas/actualizar/' + ${pagina.id}}" >Actualizar</a></td>
					<td ><a th:href="@{'/admin/paginas/apagar/' + ${pagina.id}}" >Apagar</a></td>
				</tr>


			</table>


		</div>

		<div th:unless="${!paginas.empty}">
			<p>Nao ha paginas</p>
		</div>


	</div>

	<div th:replace="/fragments/footer"></div>
</html>
